<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Dog Log Form page</title>
  </head>
  <body>
    <fieldset>
      <legend><h1>Enter Goose Information Please</h1></legend>
      <form action="{% url 'dlog:record'  %}" method="post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <label for="feed_date">Feed Date(optional):</label>
        <input type="date" id="feed_date" name="feed_date"> 
        <label for="cups_of_kibble">How much kibble did little Goose eat?</label>
        <input type="number" id="cups_of_kibble" name="cups_of_kibble" min="1" max="5"> 
        <label for="weight">How much does little Goose weigh?</label>
        <input type="number" id="weight" name="weight" min="1" max="75">
        <label for="note">Any notes for the day?</label>
        <textarea id="note" type="text" name="note" rows="4" cols="50" placeholder="Any meds given, bowel movements to report, notes on food..."></textarea>
        <input type="submit" value="Record">
      </form>
    </fieldset>
  </body>
</html>