<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Dog Log Index page</title>
  </head>
  <body>
    <table summary="keeping-track-of-dog">
      <tr>
        <th>Date</th>
        <th>Amount of kibble for day - cups</th>
        <th>Weight - lbs</th>
        <th>Notes</th>
      </tr>
    {% if latest_food_amounts_list %}
        
        {% for amount in latest_food_amounts_list %}
          <tr>
            <td>{{ amount.feed_date }}</td>
            <td>{{ amount.cups_of_kibble }}</td>
            <td>{{ amount.observation_set.weight }}</td>
            <td>{{ amount.observation_set.note }}</td>
           </tr>
        {% endfor %}
    {% else %}
        <p>No entries available</p>
    {% endif %}
    </table>
  </body>
</html>