<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Dog Log Index page</title>
  </head>
  <body>
    <table summary="keeping-track-of-dog">
      <tr>
        <th>Date</th>
        <th>Amount of kibble for day - cups</th>
      </tr>
    {% if latest_food_amounts_list %}
        
        {% for amount in latest_food_amounts_list %}
            <tr>
            <!-- # todo test if notes and weight exist if, if not then don't render as link, just as text, hmmm.... 
             or just display on table and handle null values in model string return, hmmm...-->
            <td><a href="/details/">{{ amount.feed_date }}</a></td>
            <td>{{ amount.cups_of_kibble }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <p>No entries available</p>
    {% endif %}
    </table>
  </body>
</html>